/* 
Messy code; still has to be cleaned up and/or redone
*/

@mixin page-section {
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid black;
}

.server-info {
    @include page-section;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.server-title h1 {
    font-size: 96px;
    @media (max-width: 700px) {
        font-size: 64px;
    }
}

.server-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 700px) {
        grid-template-columns: 1fr;
    }
    max-width: 100%;
    grid-row-gap: 4em;
}

.server-info-grid > div {
    padding: 15px;
}

.info-grid--motd {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    @media (max-width: 700px) {
        text-align: center;
    }

    span {
        font-size: 32px;
        font-weight: bold;
    }
}

.info-grid--active-user {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    @media (max-width: 700px) {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        text-align: center;
    }
    font-size: 32px;

    .active-user-label {
        font-weight: bold;
    }

    .active-user-name {
        font-family: 'IBM Plex Mono', monospace;
    }
}

.info-grid--players {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    @media (max-width: 700px) {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        text-align: center;
    }

    span {
        font-size: 32px;
        font-weight: bold;
    }

    .player-entry {
        font-family: 'IBM Plex Mono', monospace;
    }

    .player-entry-ellipse {
        color: black;
    }

    @media (max-width: 700px) {
        ul {
            list-style-type: none;
            padding-left: 0;
        }
    }
}

.info-grid--status-control {
    
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    @media (max-width: 700px) {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
        text-align: center;
    }

    p {
        font: {
            size: 32px;
            weight: bold;
        }
        margin-bottom: 16px;
        margin-top: 0;
    }

    .server-status-control {
        padding: 15px;
        font-weight: bold;
        font-size: 24px;
        width: 120px;
        cursor: pointer;
        text-align: center;
    }

    .controller--start {
        background-color: #90ee90;

        &:hover {
            background-color: #75bd75;
        }
    }

    .controller--reload {
        background-color: #ffff00;

        &:hover {
            background-color: #afaf00;
        }
    }

    .controller--stop {
        background-color: #ff0000;

        &:hover {
            background-color: #b80000;
        }
    }

}

.server-props-grid {
    @include page-section;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 700px) {
        grid-template-columns: 1fr;
    }
    grid-row-gap: 4em;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.btn-update-server-props {
    padding: 15px;
    font-size: 24px;
    min-width: 120px;
    margin-top: 10px;
    cursor: pointer;
    background: white;
}

.server-props {
    width: 75%;
    @media (max-width: 700px) {
        width: 90%;
    }
    min-height: 200px;
    font-family: 'IBM Plex Mono', monospace;
}

.props-grid--server-props {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    @media (max-width: 700px) {
        text-align: center;
    }

    h3 {
        font-size: 32px;
        font-weight: bold;
    }
}

.props-grid--logs {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    @media (max-width: 700px) {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        text-align: center;
    }

    h3 {
        font-size: 32px;
        font-weight: bold;
    }

    @media (max-width: 700px) {
        ul {
            list-style-type: none;
            padding-left: 0;
        }
    }
}

.server-file-list {
    @include page-section;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.5);

    h3 {
        font-size: 32px;
        font-weight: bold;
    }
}

.server-file-entry {
    color: black;

    a {
        color: black;
    }
}

.logos {
    margin: 20px;
    text-align: center;
}