html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #333232;
}

* {
    font-family: monospace;
    color: #ffffff;
}

.fv-header {
    align-items: center;
    text-align: left;
    padding-left: 15px;
    user-select: none;
}

.fv-header-subtitle {
    margin-bottom: 5em;
}

.fv-header-search {
    color: white;
    background: #272626;
    outline: none;
    font-size: 24px;
    margin-bottom: 30px;
    width: 100%;
    padding: 10px;
    border: none;
}

.fv-footer--container {
    position: fixed;
    text-align: left;
    bottom: 0;
    left: 0;
    padding-left: 15px;
    right: 0;
    min-height: 100px;
    background-color: #333232;
    border-top: 3px solid #292828;
    user-select: none;
}

.fv-footer--padding {
    min-height: 100px;
}

.fv-item--container {
    position: relative;
    min-height: 25px;
    padding: 10px;
    /* box-shadow: 1px 3px 5px 1px #151515; */
    margin-bottom: 30px;
    background-color: #302f2f;
}

.fv-item--container-new {
    animation: 1.5s new-elem-anim ease-in-out;
}

@keyframes new-elem-anim {
    0% {
        background-color: #333232;
    }
    20% {
        background-color: #5c2424;
    }
    40% {
        background-color: #333232;
    }
    80% {
        background-color: #5c2424;
    }
    100% {
        background-color: #333232;
    }
}

.fv-item--button {
    float: right;
    margin-right: 10px;
    padding: 15px;
    font-size: 16px;
    background-color: #a12929;
    text-decoration: none;
    cursor: pointer;
    transition: transform .2s;
    user-select: none;
}

.fv-item--button:hover {
    transform: translateY(-2px);
}

@media (max-width: 700px) {
    .fv-item--button {
        position: inherit;
        float: inherit;
        display: block;
        margin-top: 10px;
        width: calc(100% - 30px);
    }

    .fv-item--button:first-child {
        margin-top: calc(18px + 2em);
    }

    .fv-item--container h3 {
        position: absolute;
        top: 0px;
    }
}

.popup {
    position: fixed;
    inset: 0;
    z-index: 10;
}

.popup--bg {
    background: rgba(0, 0, 0, 0.2);
    inset: 0;
    position: absolute;
    z-index: 11;
}

.popup--card {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #333232;
    min-width: 50%;
    min-height: 30%;
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    box-shadow: 1px 3px 5px 1px #151515;
}

.popup--card * {
    color: white;
    margin-bottom: 15px;
}

.popup--card input[type="text"], .popup--card input[type="password"] {
    color: black;
    padding: 5px;
}

.popup--card input[type="submit"] {
    padding: 15px;
    border: none;
    background: #a12929;
}

.popup--error {
    color: #a12929;
    font-weight: bold;
}