/* 
Messy code; still has to be cleaned up and/or redone
*/
.server-info {
  margin: 20px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid var(--theme-text-clr);
  max-width: 100%;
  background: var(--theme-complement-clr-transparent);
}

.server-title h1 {
  font-size: 96px;
}
@media (max-width: 700px) {
  .server-title h1 {
    font-size: 64px;
  }
}

.server-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  grid-row-gap: 4em;
}
@media (max-width: 700px) {
  .server-info-grid {
    grid-template-columns: 1fr;
  }
}

.server-info-grid > div {
  padding: 15px;
}

.info-grid--motd {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
@media (max-width: 700px) {
  .info-grid--motd {
    text-align: center;
  }
}
.info-grid--motd span {
  font-size: 32px;
  font-weight: bold;
}

.info-grid--active-user {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  font-size: 32px;
}
@media (max-width: 700px) {
  .info-grid--active-user {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
    text-align: center;
  }
}
.info-grid--active-user .active-user-label {
  font-weight: bold;
}
.info-grid--active-user .active-user-name {
  font-family: "IBM Plex Mono", monospace;
}

.info-grid--players {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
}
@media (max-width: 700px) {
  .info-grid--players {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
    text-align: center;
  }
}
.info-grid--players span {
  font-size: 32px;
  font-weight: bold;
}
.info-grid--players .player-entry {
  font-family: "IBM Plex Mono", monospace;
}
.info-grid--players .player-entry-ellipse {
  color: black;
}
@media (max-width: 700px) {
  .info-grid--players ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.info-grid--status-control {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
}
@media (max-width: 700px) {
  .info-grid--status-control {
    grid-column: 1/span 1;
    grid-row: 4/span 1;
    text-align: center;
  }
}
.info-grid--status-control p {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 0;
}
.info-grid--status-control .server-status-control {
  padding: 15px;
  font-weight: bold;
  font-size: 24px;
  width: 120px;
  cursor: pointer;
  text-align: center;
  color: #222;
}
.info-grid--status-control .controller--start {
  background-color: #90ee90;
}
.info-grid--status-control .controller--start:hover {
  background-color: #75bd75;
}
.info-grid--status-control .controller--reload {
  background-color: #ffff00;
}
.info-grid--status-control .controller--reload:hover {
  background-color: #afaf00;
}
.info-grid--status-control .controller--stop {
  background-color: #ff0000;
}
.info-grid--status-control .controller--stop:hover {
  background-color: #b80000;
}

.server-props-grid {
  margin: 20px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid var(--theme-text-clr);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 4em;
  max-width: 100%;
  background: var(--theme-complement-clr-transparent);
}
@media (max-width: 700px) {
  .server-props-grid {
    grid-template-columns: 1fr;
  }
}

.btn-update-server-props {
  padding: 15px;
  font-size: 24px;
  min-width: 120px;
  margin-top: 10px;
  cursor: pointer;
  background: white;
  color: var(--theme-text-clr);
  background-color: var(--theme-complement-clr);
}

.server-props {
  width: 75%;
  min-height: 200px;
  font-family: "IBM Plex Mono", monospace;
  color: var(--theme-text-clr);
  background-color: var(--theme-complement-clr);
}
@media (max-width: 700px) {
  .server-props {
    width: 90%;
  }
}

.props-grid--server-props {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
@media (max-width: 700px) {
  .props-grid--server-props {
    text-align: center;
  }
}
.props-grid--server-props h3 {
  font-size: 32px;
  font-weight: bold;
}

.props-grid--logs {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}
@media (max-width: 700px) {
  .props-grid--logs {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
    text-align: center;
  }
}
.props-grid--logs h3 {
  font-size: 32px;
  font-weight: bold;
}
.props-grid--logs li, .props-grid--logs li a {
  color: var(--theme-text-clr);
}
@media (max-width: 700px) {
  .props-grid--logs ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.server-file-list {
  margin: 20px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid var(--theme-text-clr);
  max-width: 100%;
  background: var(--theme-complement-clr-transparent);
}
.server-file-list h3 {
  font-size: 32px;
  font-weight: bold;
  color: var(--theme-text-clr);
}
.server-file-list li {
  color: var(--theme-text-clr);
}

.server-file-entry {
  color: black;
}
.server-file-entry a {
  color: black;
}

.plugins-link {
  font-size: 32px;
  font-weight: bold;
}

/*# sourceMappingURL=dashboard.css.map */
